<div id="main">
    <h1 id="title">SpaceX Launch Programs</h1>
    <h1 id="title_hide">spanaceX Launch, Programs</h1>
  
    <div class="row sidebar">
      <div class="col-sm-12">
        <div class="panel panel-sm">
          <div class="panel-body">
            <h5>Filters</h5>
  
            <div class="hs-lead">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="mainLabel" for="exampleSelect1">Launch Year</label>
                    <div class="row">
                      <div class="col  ">
                        <div class="contain">
                          <div *ngFor="let year of years">
                            <input type="radio" value="{{year}}" (click)="changeValueByYear(year)" id="{{year}}" name="year"/>
                            <label for="{{year}}"> {{year}}</label>
                          </div>
                          <div></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="mainLabel" for="exampleSelect1">Successful Launch</label>
                    <div class="row">
                      <div class="col">
                        <div class="contain">
                          <div *ngFor="let launch of launchingValues">
                            <input type="radio" value="{{launch}}" (click)="changeValueByLaunch(launch)" id="{{launch}}" name="launch" />
                            <label for="{{launch}}" class="launch">{{launch | uppercase}}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="mainLabel" for="exampleSelect1">Successful Landing</label>
                    <div class="row">
                      <div class="col  ">
                        <div class="contain">
                          <div *ngFor="let land of landingValues">
                            <input type="radio" value="{{land.value}}" (click)="changeValueByLanding(land.value)" id="{{land.getBgColor}}"
                              name="landing" />
                            <label for="{{land.getBgColor}}" class="landing">{{land.value | uppercase }}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="content ">
      <div class="row  ">
        <div class="column" *ngFor="let item of filteredFlightsts$.value ">
          <div class="box">
            <img src="{{ item.links.mission_patch_small}}" alt="item.flight_number" />
            <h2><span>{{item.mission_name }}</span>   <span># {{item.flight_number }}</span></h2>
            <p><span class="first"> Mission Ids: </span> <span class="second"> {{item.mission_id }} </span></p>
            <p><span class="first"> Launch Year: </span> <span class="second">{{item.launch_year}} </span></p>
            <p><span class="first"> Successful Launch: </span> <span class="second"> {{item.launch_success }}</span></p>
            <!-- <p><span class="first"> Successful Launch: </span> <span class="second"> {{item.rocket.cores[0].land_success }}</span></p> -->
  
          </div>
        </div>
      </div>
      <h2 id="developerName"><span class="developed">Developed by </span> <span class="by">{{developerName }}</span>
      </h2>
  
      <h2 id="developerName"><span class="developed">Developed by :&nbsp;&nbsp;</span> <span class="by">{{developerName }}</span>
      </h2>
    </div>
  </div>